body {
    background-image: url(../images/bg6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.left {
    display: inline-block;
    color: aliceblue;

    position: absolute;
    left: 34px;
    top: 20px;
    height: 150px;
    width: 140px;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

.left img {
    filter: invert(100%);
    height: 100px;
}

/* Mid navigation bar */
.mid {
    color: aliceblue;

    /* These three parameters are necessary to center any element*/
    display: block;
    width: 42%;
    margin: 35px auto;
}

.mid a {
    text-decoration: none;
    color: beige;

    padding: 5px 5px;
    margin: 0px 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
}

.mid a:hover,
.mid a:active {
    text-decoration: underline;
    color: blueviolet;
    font-weight: bold;
}

.right {
    display: inline-block;
    color: aliceblue;

    position: absolute;
    right: 34px;
    top: 20px;
}

.btn {
    padding: 5px 14px;
    margin: 10px;
    border: 1px solid darkseagreen;
    color: white;
    background-color: transparent;
    border-radius: 6px;

    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.btn:hover {
    background-color: skyblue;
}

.container {
    color: aliceblue;
    margin-top: 180px;
    margin-left: 50px;
    width: 35%;
    border-radius: 5px;
    height: 350px;
    padding: 20px;
}

.group_input{
    margin-top: 35px;
}

.group_input input {
    margin-top: 20px;

    display: block;
    width: 50%;
    margin: auto;
    padding: 6px;
    border-radius: 5px;
    font-weight: bold;
    
}


#sub{
    width: 100px;
    display: block;
    width: 50%;
    margin: auto;

}

#sub input{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.container h1{
    margin: auto;
    display: block;
    max-width: fit-content;
}